PORT=3001
NODE_ENV=development
RABBITMQ_URL=amqp://guest:guest@localhost:5672
DATABASE_URL=postgresql://cloudmart_admin:cloudmart_pass@localhost:5432/cloudmart
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_me_in_production
